[submodule "resumes"]
	path = resumes
	url = git@github.com:cadojo/resumes.git
[submodule "correspondence"]
	path = correspondence
	url = git@github.com:cadojo/correspondence
[submodule "exploration"]
	path = exploration
	url = git@github.com:cadojo/exploration
